
a {
	color: #4e9326;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #6ecf36;
}


html {
  width: 100%;
  background-color: #FFFDEA;
  padding-top: 10px;
  font-family: Helvetica, sans-serif;
}


img {
  border: 0;
}


code {
  font-family: monospace;
  font-size: 120%;
  padding: 0 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}


#body {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 100%;
}


#contents {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;

  width: 725px;
/*  background-color: #FFFDBB; */
  background-color: #eee;
  padding: 10px;
}

#header {
  margin-bottom: 20px;
  width: 725px;
  font-size: x-small;
}

#header h2 {
  font-size: 40px;
  text-align: right;
  padding-right: 43px;
  margin-top: -50px;
  margin-bottom: 0px;
  color: #346b8c;
  border-bottom: 3px solid #346b8c;
}


#footer {
  background-color: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;

  width: 725px;

  padding-right: 15px;
  text-align: right;
  font-size: x-small;
  color: #346b8c;
}

#footer img:first-child {
  -moz-box-shadow: blue 0 0 5px;
  -webkit-box-shadow: blue 0 0 5px;
  -o-box-shadow: blue 0 0 5px;
  box-shadow: blue 0 0 5px;
}

#footer img:last-child {
  margin-top: -20px;
  margin-right: -20px;
}
#footer img {
  display: block;
}


h2 {
  font-size: 20px;
  padding: 5px;
  margin-top: 24px;
  color: #0e3f54;
  border-bottom: 3px solid #0e3f54;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


.button {
  font-weight: normal;
  padding-top: 8px;
  padding-bottom: 5px;
  text-decoration: none;
  display: block;
  color: white;
  margin: 10px 0 0 450px;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6ecf36), color-stop(100%, #4e9326));
  background-image: -moz-linear-gradient(top, #6ecf36 0%, #4e9326 100%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}


.button:hover {
  color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4e9326), color-stop(100%, #35641a));
  background-image: -moz-linear-gradient(top, #4e9326 0%, #35641a 100%);
}


pre {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}


.shtitle {
  background: #595;
  color: #cec;
  padding: 8px;
  float: right;
}
#login {
	border: 1px solid #ccc;
	background-color: #def;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 10px;
	color: #043042;
	font-size: 18px;
	line-height: 24px;
}
